{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container mt-5 p-3" style="margin-bottom:100px;">
    <div class="row">
        <h2 class="text-center ">Shopping cart</h2>
        <div class="col-7">
            <table class="table table-bordered border-1 border-dark">
                <tr colspan="6">
                    <th>cart items</th>
                </tr>
                 {% for i in cart %}
                <tr>
                    <td><img src="{{ i.product.image.url }} " height="200px" width="200px"></td>
                    <td>{{ i.product.name }}</td>
                    <td>${{ i.product.price }}</td>
                    <td>Quantity:{{ i.quantity }}</td>
                    <td>subtotal:{{ i.subtotal}}</td>
                   <td>
                       {% if i.product.stock > 0 %}
                       <a href=" {% url 'cart:cart' i.product.id %} " ><i class="fa-solid fa-cart-plus" style="color: #343a40;"></i></a><br>
                       <a href="{% url 'cart:cartremove' i.product.id %}"><i class="fa-solid fa-minus" style="color: #343a40;"></i></a><br>
                       <a href="{% url 'cart:remove' i.product.id %}"><i class="fa-solid fa-trash" style="color: #343a40;"></i></a>

                       {% else %}
                       <a href="{% url 'cart:cartremove' i.product.id %}"><i class="fa-solid fa-minus" style="color: #343a40;"></i></a><br>
                       <a href="{% url 'cart:remove' i.product.id %}"><i class="fa-solid fa-trash" style="color: #343a40;"></i></a>
                       {% endif %}
                   </td>

                </tr>
                {% endfor %}
            </table>
        </div>


         <div class="col-4">
            <table class="table table-bordered border-1 border-dark">
                <tr colspan="4">
                    <th>Total price</th>
                </tr>
                <tr>
                    <td>Total:{{ total }}</td>
                </tr>
            </table>
             <a href="{% url 'cart:order' %}" class="btn btn-primary">oder now</a>
             <a href="{% url 'shop:categories' %}" class="btn btn-primary">keep shopping</a>
        </div>

    </div>
</div>
{% endblock %}
