{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row align-items-start">
        <div class="col-md-5">
            <img src="{{detail.image.url }}" class="img-fluid rounded"
                 style="height: 400px; object-fit: cover; margin-left: auto; display: block;">
        </div>

        <div class="col-md-7">
            <div class="card-body">
                <h2 class="card-title font-weight-bold mb-2">{{ detail.name }}</h2>
                <hr class="my-2">
                <p class="card-text text-muted mb-2">{{detail.desc }}</p>
                <p class="card-text mb-4">
                    <span class="font-weight-bold">Price: </span>
                    <span class=" display-6">{{detail.price }}</span>
                    <span class=" display-6">{{detail.stock }}</span>
                </p>
{% if user.is_superuser == True %}
          {% if detail.stock > 0 %}
            <h5>Product In stock</h5>
            <a href="{% url 'shop:addstock' detail.id %}" class="btn" style="background-color:#E2BFD9;color:black;">ADD STOCK</a>
          {% else %}
            <h5>Product Out of Stock</h5>
            <a href="{% url 'shop:addstock'  detail.id%}" class="btn" style="background-color:#E2BFD9;color:black;">ADD STOCK</a>
          {% endif %}
        {% else %}
          {% if detail.stock > 0 %}
            <h5>Product In Stock</h5>
            <a href="{% url 'cart:cart' detail.id %}" class="btn" style="background-color:#E2BFD9;color:black;">Add to Bag</a>
          {% else %}
            <h5>Out of Stock</h5>
          {% endif %}
        {% endif %}

            </div>
        </div>
    </div>
</div>



{% endblock %}