{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="text-center">Billing details</h2>
<div class="container" style="width: 50%; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9;">
    <form method="POST">
        {% csrf_token %}

        <label class="form-label" style="font-weight: bold; margin-bottom: 5px; display: inline-block;">Address:</label><br>
        <textarea  class="form-control" rows="4"  name="a" placeholder="Enter your address" required style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 4px;"></textarea><br>

        <label class="form-label" style="font-weight: bold; margin-bottom: 5px; display: inline-block;">Phone No:</label><br>
        <input type="tel" class="form-control" name="p" placeholder="Enter your phone number" pattern="[0-9]{10}" required style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 4px;"><br>

        <label class="form-label" style="font-weight: bold; margin-bottom: 5px; display: inline-block;">Pincode:</label><br>
        <input type="text" class="form-control" name="pi" placeholder="Enter your pincode" pattern="[0-9]{6}" required style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 4px;"><br>

        <button type="submit" style="background-color: #28a745; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Submit</button>
    </form>
</div>

{% endblock %}