{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="row mt-3">
    <div class="col-12">
        <img src="{{ cat.image.url }}" height="600px" width="100%" class="img-fluid rounded">
    </div>
</div>

<!-- Removed bottom margin from the details section -->


<div class="container mb-5">
    <div class="row mt-3 ms-3 me-5">
    <h2 class="text-center fw-bold">Details</h2>
    <p style="text-align:justify; line-height:2;" class="fs-5">{{ cat.desc }}</p>
</div>
    <div class="row mt-4"> <!-- Add mt-4 for spacing between sections -->
        {% for i in product %}
        <div class="col-sm-3">
            <div class="card mx-auto text-light" style="width: 18rem; height:450px; background-color:#3C3D37;">
                <img src="{{ i.image.url }}" class="card-img-top" alt="..." height="250px">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p>${{ i.price }}</p>
                    <a href="{% url 'shop:details' i.id %}" class="btn mt-3" style="background-color:#E7CCCC;">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
